body {
    padding-top:3.5rem;
}
h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar .nav{
    margin-bottom: 20px;
}
.sidebar .nav-item{
    width: 100%;
}
.sidebar .nav-item + .nav-item{
    margin-left: 0;
}
.sidebar .nav-link{
    border-radius: 0;
}

.action-row{
    width:135px;
    text-align: center;
}

.paginate{
    background: #fff;
    height: 32px;
    line-height: 32px;
    position: relative;
}
.paginate span.currentStep{
    background: none repeat scroll 0 0 #337ab7;
    border: 1px solid #337ab7;
    color: #ffffff;
    display: inline-block;
    float: left;
    line-height: 32px;
    padding: 0 8px;
    position: relative;
    z-index: 10;
    font-size: 12px;
}

.paginate a.step {
    color: #9e9e9e;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid #d3dbde;
    float: left;
    font-size: 12px;
}

.paginate a.prevLink {
    color: #9e9e9e;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid #d3dbde;
    float: left;
}
.paginate a.nextLink {
    color: #9e9e9e;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid #d3dbde;
    float: left;
}

.alert{
    min-height:50px;
    width: 300px; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2000;
}

.alert .message{
    font-weight: bold;
}